.iqviaFooter {
    background-color: #08345e;
    color: #fff;
    padding: 7px 9px;
    text-align: center;
    font-size: 0.9rem;
    border-top: 1px solid #08345e;
    margin-top: 60px;
    bottom: 0;
    background-image: linear-gradient(45deg, #250056, #0076ae) !important;
   
  }
  
  .footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  .topSection {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }
  
  
  .bottomSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    flex-wrap: wrap;
  }
  
  .disclaimer {
    color: #d3d3d3;
    font-size: 0.6rem;
    margin-bottom: 3px;
  }
  
  .popupInfo {
    color: #d3d3d3;
    font-size: 0.6rem;
    margin-bottom: 3px;
  }
  
  .copyright {
    font-size: 0.9rem;
  }
  
  .footerLinks {
    display: flex;
    gap: 20px;
  }
  
  .footerLink {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    &:hover {
      text-decoration: underline;
    }
  }
  
  .separator {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
  }