.myLinks {
  color: grey;
}

.borderSolid {
  border: 1.2px solid rgb(101, 100, 100);
  padding: 10px;
  border-radius: 8px;
}

.borderSolidIn {
  border: 1.2px solid rgb(101, 100, 100);
  padding: 5px;
  margin-top: 10px;
}

.common {
  margin-top: -0.5rem;
}
